<header><h1><%= @user.username %>'s Dashboard</h1></header>
<%= link_to "Logout", logout_path, method: :delete %>

<% if current_user.default? %>
  <div id='points'>
    <h2>Points:</h2>
    <% @points.each do |point| %>
      <p>1</p>
      <% if point.redeemed? %>
        <p>redeemed!</p>
      <% end %>
    <% end %>
    <h3>Total available points: <%= @total_points %></h3>
  </div>

  <div id="rewards">
    <h2>Rewards:</h2>
    <% @rewards.each do |reward| %>
      <p><%= reward.name %></p>
    <% end %>
  </div>
<% end %>

<%= link_to "All Rewards", rewards_path %>

<% if current_user.admin? %>
    <% if current_user != @user %>
      <%= link_to "+1 point for #{@user.username}", user_points_path(@user), method: :post %>
    <% end %>
    <%= link_to "All users", users_path %>
<% end %>
