<header><h1><%= @user.username %>'s Dashboard</h1></header>
<%= link_to "Logout", logout_path, method: :delete %>

  <div id='points'>
    <% @points.each do |point| %>
      <p>1</p>
    <% end %>
    <h3>Total points: <%= @points.count %></h3>
  </div>

  <div id="rewards">
    <% @rewards.each do |reward| %>
      <p><%= reward.name %></p>
    <% end %>
  </div>

<% if current_user.role == "admin" %>
    <% if current_user != @user %>
      <%= link_to "+1 point for #{@user.username}", user_points_path(@user), method: :post %>
    <% end %>
    <%= link_to "All users", users_path %>
<% end %>
